.containerCardsInfo {
  padding: 0px 180px;
  background-color: #121212;
  justify-content: space-between;
  margin-top: 120px;
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 451px) and (min-width: 10px) {
  .containerCardsInfo {
    padding: 0rem 3rem;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }

  .containerCardsInfo span {
    box-shadow: -138px 119px 293px 108px rgb(43 167 167 / 40%);
    box-shadow: #00ffff;
    height: 8rem;
    width: 0rem;
    position: absolute;
    z-index: 0;
  }

  .span-1 {
    left: 53%;
    margin-top: 15rem;
  }

  .span-2 {
    right: -10%;
    margin-top: 123rem;
  }
}

@media only screen and (max-width: 576px) and (min-width: 452px) {
  .containerCardsInfo {
    padding: 0rem 3rem;
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
  }

  .containerCardsInfo span {
    box-shadow: -183px 119px 293px 108px rgb(43 167 167 / 40%);
    box-shadow: #00ffff;
    height: 8rem;
    width: 0rem;
    position: absolute;
    z-index: 0;
  }

  .span-1 {
    left: 53%;
    margin-top: 15rem;
  }

  .span-2 {
    right: -10%;
    margin-top: 123rem;
  }
}

@media only screen and (max-width: 768px) and (min-width: 577px) {
  .containerCardsInfo {
    padding: 0rem 4rem;
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 992px) and (min-width: 769px) {
  .containerCardsInfo {
    padding: 0 55px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 49px;
  }
}

@media only screen and (max-width: 1280px) and (min-width: 993px) {
  .containerCardsInfo {
    padding: 0 70px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
  }
}
